.book-image {
    height: 200px;
    width: auto;
    object-fit: cover;
}

.card {
    border: 10px solid black;
}

.card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    transform: translateY(-8px);
    transition: transform 0.3s, box-shadow 0.3s;
}


.custom-buy-button {
    background-color: rgb(245, 245, 176); 
    color: black; 
    border-color: yellow; 
}

.custom-buy-button:hover {
    background-color: rgb(173, 151, 96); 
    border-color: darkgoldenrod; 
}
